#this is config file, please rename it to config.py and edit it acordingly :)

SECRET_KEY = "place your secret key here"

# mysql connector:

MYSQL_HOST = "localhost"
MYSQL_USER = "myworks"
MYSQL_PASS = "works"
MYSQL_DB = "myworks"
charset = "utf8"